*{
    margin: 0;
    padding: 0;
}

body{
    background-color: snow;
}

header{
    height: 100px;
    width: 100%;
    background-color: #ff6bb5;
}

header nav{
    height: 100px;
    width: 80%;
    background-color: #ffd435;
    margin: 0 auto;
}

article{
    height: 400px;
    width: 100%;
    background-color: #ed0bff;
}

article .middle{
    height: auto;
    width: 100%;
    float: left;
}

.middle .inner{
    margin: 0 100px 0 150px;
    background-color: #e6ceff;
}

article .left{
    width: 150px;
    height: auto;
    background-color: #ffdabc;
    float: left;
    margin-left: -100%;

}

article .right{
    width: 100px;
    height: auto;
    background-color: #d3fcff;
    float: left;
    margin-left: -100px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #ff1263;
}