*{
    margin: 0;
    padding: 0;
}

.col{
    -webkit-column-count: 4;
    -webkit-column-rule-style: solid;
}

.center{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    width: 300px;
    height: 300px;
    background-color: gray;
}

.container{
    /*ɰ*/
    /*display: -webkit-box;*/
    /*box-orient:vertical*/
    display: -webkit-flex;
    width: 800px;
    height: 600px;
    background-color: purple;
    /*°*/
    -webkit-flex-direction: column;
}

.box1{
    height: 100px;
    background-color: #fff400;
    -webkit-flex: 1;
}

.box2{
    height: 100px;
    background-color: aquamarine;
    -webkit-flex: 1;
}

.box3{
    height: 100px;
    background-color: greenyellow;
    -webkit-flex: 1;
}

.box4{
    height: 100px;
    background-color: red;
    -webkit-flex: 1;
}